<div class="shadow p-3 mb-5 bg-white rounded">
  <div (click)="navigateTo()" *ngIf="product">
    <img class="img-fluid" [src]="product.images[0]" alt="" />
    <h2>{{ product.title }}</h2>
    <p>{{ product.category.name }}</p>
    <p>{{ product.price | customPipe }}</p>
  </div>

  <button class="btn btn-outline-success w-75" (click)="addToCart(product.id)">
    Add to card
  </button>
  <button
    class="btn w-25 btn-outline-danger"
    (click)="addedToWishList(product)"
  >
    <i class="fa-solid fa-heart"></i>
  </button>
</div>
